<ion-header>
  <ion-toolbar>
    <ion-title>walks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      
    <ion-label>Back to Home </ion-label>
    <ion-button color="success" [routerLink] = "['/home']" routerDirection="forward"> BACK </ion-button>

  </ion-item>

  <ion-card-header>
    Galway City Walking Tours
  </ion-card-header>
  <ion-card-content>
    <img src="assets\walks\galwaycitywalkinghours.jpg">
  </ion-card-content>
  
  <ion-card-header>
    Barna Woods
  </ion-card-header>
  <ion-card-content>
    <img src="assets\walks\barna.jpg">
  </ion-card-content>

  <ion-card-header>
    Rinville Park
  </ion-card-header>
  <ion-card-content>
    <img src="assets\walks\rinvillepark.jpg">
  </ion-card-content>

</ion-content>
