<ion-header>
  <ion-toolbar>
    <ion-title>Resturant and Cafe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      
    <ion-label>Back to Home </ion-label>
    <ion-button color="success" [routerLink] = "['/home']" routerDirection="forward"> BACK </ion-button>

  </ion-item>

<ion-card>
  <ion-card-header>
    The Quay Street Kitchen
  </ion-card-header>
  <ion-card-content>
      <img src="assets\ResturantsAndCafe\theQuay.jpg">
  </ion-card-content>
  <ion-card-content>
    <ion-button href="https://www.quaystreetkitchen.co.uk/"></ion-button>
  </ion-card-content>

  <ion-card-header>
    Aniar Restaurant
  </ion-card-header>
  <ion-card-content>
    <img src="assets\ResturantsAndCafe\aniar-restaurant-galway.jpg">
  </ion-card-content>
  <ion-card-content>
    <ion-button href="www.aniarrestaurant.ie">Link </ion-button>
  </ion-card-content>

  <ion-card-header>
    Kai Café and Restaurant 
  </ion-card-header>
<ion-card-content>
    <img src="assets\ResturantsAndCafe\kai-restaurant-galway.jpg">
  </ion-card-content>
  <ion-card-content>
    <ion-button href="www.kaicaferestaurant.com">Link </ion-button>
  </ion-card-content>

</ion-card>



</ion-content>
