<ion-header>
  <ion-toolbar>
    <ion-title>BNB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
      
    <ion-label>Back to Home </ion-label>
    <ion-button color="success" [routerLink] = "['/home']" routerDirection="forward"> BACK </ion-button>

  </ion-item>

<ion-card>
  <ion-card-header>
    The Eyre Square Townhouse
  </ion-card-header>
  <ion-card-content>
    <img src="assets\BNBImages\eyreSquareTownHhouse.jpg">
  </ion-card-content>
  <ion-card-content>
    One of the most welcoming Galway B&Bs is ideally located in the center of Galway City, with the train and bus stations just a 2-minute walk away. Moreover, the award-winning Revive Cafe and Bistro is found on site, serving fresh produce daily. For travelers wanting to experience the vibrant city nightlife, this is the perfect accommodation. 
Each room in one of the most lovely B&Bs in Galway is stylishly furnished and includes a flatscreen TV, comfortable beds, and a private bathroom with a shower. A noteworthy feature in these rooms is the windows, providing the room with plenty of natural light.  
  </ion-card-content>

  <ion-card-header>
    St.Judes lodge B&B
  </ion-card-header>
  <ion-card-content>
    <img src="assets\BNBImages\stJude.jpg">
  </ion-card-content>
  <ion-card-content>
    Combining the charm of a bed and breakfast with the quality of a luxury hotel, St. Judes Lodge B&B has earned its spot as one of the best B&Bs in Galway City. Each of the rooms at this luxury B&B boasts a warm, modern design and comes equipped with a flat-screen TV, in-room coffee maker, and private en-suite bathroom. A hearty breakfast is offered daily in the B&B’s cute, sunlit dining room. 
    One of the best parts about staying at the St. Judes Lodges B&B is the friendly hosts. Twin brothers, Donal and Sean, are committed to ensuring their guests have a pleasant stay. They also provide some valuable tips and great recommendations on where to visit in the city. You can easily explore the city from here if you’re visiting Ireland without a car.
  </ion-card-content>

  <ion-card-header>
    The Sliding Rock Inn
  </ion-card-header>
  <ion-card-content>
    <img src="assets\BNBImages\theSlidingRockInn.jpg">
  </ion-card-content>
  <ion-card-content>
    The Sliding Rock Inn is a beautiful B&B in Galway City near the city center. It’s just a short walk from many of the city’s best attractions, restaurants, and cafés. Moreover, there is an on-site bar, where guests can enjoy some delicious food, good drinks, and live music and entertainment. 
The Sliding Rock Inn has several accommodation options available, namely the double twin and triple rooms. Each of these rooms, although smaller, offer guests a neat and cozy space. For those planning a night out on the town, this is the perfect spot.
  </ion-card-content>


</ion-card>
</ion-content>
