<ion-header>
  <ion-toolbar>
    <ion-title>pointOfInterests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      
      <ion-label>Back to Home </ion-label>
      <ion-button color="success" [routerLink] = "['/home']" routerDirection="forward"> BACK </ion-button>
  
    </ion-item>

    
  
    <ion-card-content>
      <img src="assets\pointOfInterests\Galway_City_Museum_Entrance.jpg">
    </ion-card-content>
        <ion-card-content>
          
          Galway City Museum is a museum in Galway City, County Galway, Ireland. It was founded on 29 July 2006, and is located beside the Spanish Arch

        </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <img src="assets\pointOfInterests\galway-cathedral.jpg">
      </ion-card-content>

      <ion-card-content>
        The Cathedral of Our Lady Assumed into Heaven and St Nicholas, commonly known as Galway Cathedral, is a Roman Catholic cathedral in Galway, Ireland, and one of the largest and most impressive buildings in the city. Construction began in 1958 on the site of the old city prison. It was completed in 1965, making it the last great stone cathedral to be built in Europe. It was dedicated, jointly, to Our Lady Assumed into Heaven and to St. Nicholas
      </ion-card-content>

      <ion-card>
        <ion-card-content>
          <img src="assets\pointOfInterests\Spanish-Arch.jpg">
        </ion-card-content>

        <ion-card-content>
          The Spanish Arch and the Caoċ Arch in Galway city, Ireland, are two remaining arches on the Ceann an Bhalla.
        </ion-card-content>

      </ion-card>

    </ion-card>
</ion-content>
