<ion-header>
  <ion-toolbar>
    <ion-title>connaught</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
  <ion-item>
    
    <ion-label>Back to Home </ion-label>
    <ion-button color="success" [routerLink] = "['/home']" routerDirection="forward"> BACK </ion-button>

  </ion-item>

  <ion-card-content>
    <img src="assets\Connaught images\shopStreet.jpg">
  </ion-card-content>

      <ion-card-content>As its name suggests, it is Galway's main shopping street, 
         and was one of the first streets in the city to develop a retail focus. 
        Shop Street contains a number of old brick buildings, bright storefronts, 
        and numerous pubs. The street name "Shop Street" is common in the Connacht region, being found in Boyle, 
        Tuam and Westport as well as Galway. Street performers and buskers are prevalent on the street.
      </ion-card-content>

      <ion-card-content></ion-card-content>
  </ion-card>

</ion-content>


